<!--<div class="container my-4">
    <h1>Agregar Músico Nuevo</h1>
    <form [formGroup]="musicoForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre" required>
      </div>
      <div class="mb-4">
        <label for="genero">Género</label>
        <input type="text" class="form-control" id="genero" formControlName="genero" placeholder="Género" required>
      </div>
      <div class="mb-4">
        <label for="nacionalidad">Nacionalidad</label>
        <input type="text" class="form-control" id="nacionalidad" formControlName="nacionalidad" placeholder="Nacionalidad" required>
      </div>
      <div class="mb-4">
        <label for="anio_debut">Año del debut</label>
        <input type="number" class="form-control" id="anio_debut" formControlName="anio_debut" placeholder="Año del debut" required>
      </div>
      <div class="mb-4">
        <label for="instrumentos">Instrumentos</label>
        <input type="text" class="form-control" id="instrumentos" formControlName="instrumentos" placeholder="Instrumentos musicales" required>
      </div>
      <div class="mb-4">
        <label for="premios">Premios</label>
        <input type="text" class="form-control" id="premios" formControlName="premios" placeholder="Premios Ganados" required>
      </div>
      <div class="mb-4">
        <label for="retirado">Retirado</label>
        <input type="checkbox" class="form-control" id="retirado" formControlName="retirado">
      </div>
      <div class="mb-4">
        <label for="pais">País</label>
        <input type="text" class="form-control" id="pais" formControlName="pais" placeholder="País" required>
      </div>
      <div class="mb-4">
        <label for="ciudad">Ciudad</label>
        <input type="text" class="form-control" id="ciudad" formControlName="ciudad" placeholder="Ciudad" required>
      </div>
      <div class="mb-4">
        <label for="imagen_url" class="form-label">Imagen del músico</label>
        <input type="file" class="form-control-file" id="imagen_url" (change)="onFileChange($event)">
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="musicoForm.invalid">Agregar Músico</button>
    </form>
  </div> -->